<div th:fragment="footer">
    <footer style="text-align: center; padding: 20px; font-size: 14px; border-top: 1px solid #ccc; margin-top: 40px;">
        <div>포트폴리오 사용 기술: Java / Spring Boot / Thymeleaf / MySQL / Nginx / AWS</div>
        <div>
           <a href="tel:01064898097" aria-label="Phone" title="전화"><i class="fas fa-phone"></i></a>
            <a href="mailto:tkddnjs3351@naver.com" aria-label="Email" title="이메일"><i class="fas fa-envelope"></i></a>
        </div>
        <div>© 2025 이상원의 포트폴리오</div>
    </footer>
</div>