<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head>
    <meta charset="UTF-8">
    <title th:text="${board.title}">상세보기</title>
    <link rel="stylesheet" th:href="@{/css/boardStyle.css}">
</head>
<body>
    <div th:replace="header/header :: header"></div>

    <div class="board-page-container">
        <h1 class="board-page-title" th:text="${boardTypeDisplay} + ' 게시판'">게시판</h1>

        <div class="board-detail-meta">
            <p><strong>작성자:</strong> <span th:text="${board.author}"></span></p>
            <p><strong>작성일:</strong>
            <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm').format(board.createdAt)}"></span>
            </p>
        </div>

        <div class="board-detail-content">
            <div th:utext="${board.content}"></div>
        </div>
        

        <div class="action-buttons">
            <div th:if="${#authorization.expression('isAuthenticated()') and #authentication.name == board.author}">
                <form method="post" th:action="@{'/board/delete/' + ${board.id}}" style="display:inline;">
                    <input type="hidden" name="type" th:value="${board.boardType}" />
                    <button type="submit">삭제</button>
                </form>
                <a th:href="@{'/board/modify/' + ${board.id}}">수정</a>
            </div>

            <a th:href="@{'/board/list'(type=${board.boardType})}">목록으로</a>
        </div>


    </div>

    <div th:replace="footer/footer :: footer"></div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>