<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${boardTypeDisplay} + ' 게시판 - 글쓰기'">글쓰기</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/boardStyle.css}">
</head>
<body>
    <div th:replace="header/header :: header"></div>

    <div class="board-page-container">
        <h1 class="board-page-title" th:text="${boardTypeDisplay} + ' 게시판'">게시판</h1>
        <form method="post" th:action="@{/board/write}" class="board-form">
            <input type="hidden" name="boardType" th:value="${boardType}"/>

            <div th:if="${boardType == 'notion'}">
                <label for="subCategory">하위 카테고리</label>
                <select id="subCategory" name="subCategory">
                    <option value="">선택하세요</option>
                    <option value="react">React</option>
                    <option value="spring">Spring</option>
                    <option value="aws">AWS</option>
                    <option value="nginx">Nginx</option>
                    <option value="db">DB</option>
                    <option value="java">Java</option>
                    <option value="docker">Docker</option>
                    <option value="linux">Linux</option>
                </select>
                <br/>
            </div>

            <label for="title">제목</label>
            <input type="text" id="title" name="title" required/><br/>

            <!-- 내용 입력 부분 -->
            <label for="editor">내용</label>
            <div id="editor" style="height: 400px;"></div>
            <input type="hidden" id="content" name="content" />

            <div class="action-buttons">
                <button type="submit">등록</button>
                <a th:href="@{'/board/list'(type=${boardType})}">취소</a>
            </div>
        </form>
    </div>

    <div th:replace="footer/footer :: footer"></div>

    <script th:src="@{/js/main.js}"></script>
    <!-- quill cdn 호출 -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script th:src="@{/js/quill.js}"></script>
</body>
</html>